# Shared management and outside Interface
tenancy_ocid      = ""
user_ocid         = ""
private_key_path  = "~/.oci/oci_api_key.pem"
fingerprint       = ""
region            = "ap-mumbai-1"
compartment_id    = ""
label_prefix      = "ASAv"
day_0_config      = "oob.txt"
admin_ssh_pub_key = ""
// Please provide a password
enable_password   = ""
# nic0 needs to be the management interface
num_instances = 2
# The Availability Domain Number for vm
vm_ads_number = [1, 1]
networks = [
  {
    name        = "mgmt"
    vcn_cidr    = "10.20.0.0/16"
    subnet_cidr = "10.20.1.0/24"
    private_ip  = ["10.20.1.10", "10.20.1.11"]
    external_ip = true
  },
  {
    name        = "outside"
    vcn_cidr    = "10.21.0.0/16"
    subnet_cidr = "10.21.1.0/24"
    private_ip  = ["10.21.1.10", "10.21.1.11"]
    external_ip = false
  },
  {
    name        = "inside"
    vcn_cidr    = "10.22.0.0/16"
    subnet_cidr = "10.22.1.0/24"
    private_ip  = ["10.22.1.10", "10.22.1.11"]
    external_ip = false
  },
  {
    name        = "dmz"
    vcn_cidr    = "10.23.0.0/16"
    subnet_cidr = "10.23.1.0/24"
    private_ip  = ["10.23.1.10", "10.23.1.11"]
    external_ip = false
  }
]
mgmt_network   = "mgmt"
inside_network = "inside"
outside_network = "outside"
dmz1_network = "dmz"