[submodule "SFCN/sfcn"]
	path = SFCN/sfcn
	url = git@github.com:CiscoDevNet/sfcn.git
[submodule "FTD/FTDAnsible"]
	path = FTD/FTDAnsible
	url = https://github.com/CiscoDevNet/FTDAnsible
[submodule "FMC/fmc-terraform-provider"]
	path = FMC/fmc-terraform-provider
	url = https://github.com/CiscoDevNet/terraform-provider-fmc
