[submodule "SFCN/sfcn"]
	path = SFCN/sfcn
	url = git@github.com:CiscoDevNet/sfcn.git
[submodule "FTD/FTDAnsible"]
	path = FTD/FTDAnsible
	url = https://github.com/CiscoDevNet/FTDAnsible
[submodule "FMC/terraform-provider-fmc"]
	path = FMC/terraform-provider-fmc
	url = https://github.com/CiscoDevNet/terraform-provider-fmc
[submodule "ASA/Autoscale/cisco-asav"]
	path = ASA/Autoscale/cisco-asav
	url = https://github.com/CiscoDevNet/cisco-asav.git
[submodule "FTD/Autoscale/cisco-ftdv"]
	path = FTD/Autoscale/cisco-ftdv
	url = https://github.com/CiscoDevNet/cisco-ftdv.git
[submodule "ASA/AWS/CloudFormation/ASA_Autoscale/cisco-asav"]
	path = ASA/AWS/CloudFormation/ASA_Autoscale/cisco-asav
	url = https://github.com/CiscoDevNet/cisco-asav.git
[submodule "ASA/Azure/ARM Template/Autoscale/cisco-asav"]
	path = ASA/Azure/ARM Template/Autoscale/cisco-asav
	url = https://github.com/CiscoDevNet/cisco-asav.git
[submodule "FTD/AWS/CloudFormation/FTD_Autoscale/cisco-ftdv"]
	path = FTD/AWS/CloudFormation/FTD_Autoscale/cisco-ftdv
	url = https://github.com/CiscoDevNet/cisco-ftdv.git
