userid          = "administrator@vsphere.local"
password        = "password123"
vsphere_server  = "vcenter.xyz.com"
datacenter      = "Automation"
datastore       = "esxi3-datastore"
cluster         = "ESXi Cluster"
host            = "esxi3.adyah.cisco"
mgmt_network    = "VM Network"
inside_network  = "VM Network"
outside_network = "VM Network"
hostname        = "asav-terraform-testing"
ovf_path        = "../asav-vi.ovf"
day0_config     = "./day0-config"
