- hosts: all
  connection: httpapi
  vars:
    uuid: "27f4034d-208f-c9b6-6724-100000000001"
  tasks:
    - name: Create network object 10.10.10.0
      cisco.fmcansible.fmc_configuration:
        operation: createMultipleNetworkObject
        data:
          name: net10
          value: 10.10.10.0/24
          type: Network
        path_params:
          domainUUID: '{{ uuid }}'
        register_as: net10

    - name: Create network object 10.10.20.0
      cisco.fmcansible.fmc_configuration:
        operation: createMultipleNetworkObject
        data:
          name: net20
          value: 10.10.20.0/24
          type: Network
        path_params:
          domainUUID: '{{ uuid }}'
        register_as: net20

    - name: Create network object 10.10.30.0
      cisco.fmcansible.fmc_configuration:
        operation: createMultipleNetworkObject
        data:
          name: net30
          value: 10.10.30.0/24
          type: Network
        path_params:
          domainUUID: '{{ uuid }}'
        register_as: net30

    - name: Create a Cisco network group
      cisco.fmcansible.fmc_configuration:
        operation: createMultipleNetworkGroup
        data:
          name: network-group
          type: networkgroup
          objects:
            - id: '{{ net10.id }}'
              type: '{{ net10.type }}'
            - id: '{{ net20.id }}'
              type: '{{ net20.type }}'
            - id: '{{ net30.id }}'
              type: '{{ net30.type }}'
        path_params:
          domainUUID: '{{ uuid }}'

    - name: Get Access Policy
      cisco.fmcansible.fmc_configuration:
        operation: getAllAccessPolicy
        path_params:
          domainUUID: '{{ uuid }}'
        filters:
          name: devnet-AccessPolicy
        register_as: accesspolicy

    - name: Create an access rule allowing trafic from Cisco DevNet
      cisco.fmcansible.fmc_configuration:
        operation: upsertAccessRule
        data:
          name: AllowCiscoTraffic8
          type: accessrule
          sourceNetworks:
            objects:
              - id: '{{ net10.id }}'
                name: '{{net10.name }}'
                type: '{{ net10.type }}'
              - id: '{{ net20.id }}'
                name: '{{net20.name }}'
                type: '{{ net20.type }}'
              - id: '{{ net30.id }}'
                name: '{{net30.name }}'
                type: '{{ net30.type }}'
          action: ALLOW
        path_params:
          containerUUID: '{{ accesspolicy[0].id }}'
          domainUUID: '{{ uuid }}'