// AWS Environment
aws_access_key      = ""
aws_secret_key      = ""
key_name            = "" 

region              = "us-east-1"

existing_vpc        = false
vpc_name            = "CiscoFTDv-VPC"
FTD_version         = "ftdv-7.3.0"
